img {
    width: 30%;
    /* White space sucks in html */
    /* margin: 1.3%; */
    margin: calc(10% / 6);
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    /* margin-left: 1.3%; */
    margin-left: calc(10% / 6);
    padding: 1.12em 0em;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 1.5em;
}
