<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Farm</title>
    </head>
    <body>
        <h1>New Farm</h1>
        <form action="/" method="POST">
            <label for="farmName">Farm Name</label>
            <input type="text" name="farmName" id="farmName" />
            <label for="location">Farm Location</label>
            <input type="text" name="location" id="location" />

            <button type="submit">Add Farm</button>
        </form>
    </body>
</html>
