<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/app.css" />
        <title>New Farm</title>
    </head>
    <body>
        <h1>New Farm</h1>
        <form action="/farm" method="POST" class="input-form">
            <div class="form-label">
                <label for="farmName">Name</label>
                <input type="text" name="farmName" id="farmName" />
            </div>
            <div class="form-label">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" />
            </div>

            <button class="form-btn" type="submit">Add</button>
        </form>
    </body>
</html>
