<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/app.css" />
        <title>Show Farm</title>
    </head>
    <body>
        <h1>Show Product</h1>
        <div class="container">
            <table>
                <thead>
                    <th class="table-header first-column">Property</th>
                    <th class="table-header">Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="first-column">Name</td>
                        <td><%=product.productName%></td>
                    </tr>
                    <tr>
                        <td class="first-column">Produce</td>
                        <td><%=product.produce%></td>
                    </tr>
                    <% if product.products.length > 0 {%>
                    <tr>
                        <td class="first-column">Produce</td>
                        <td><%=product.produce%></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </body>
</html>
