<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/app.css" />
        <title>Xpress Ships</title>
    </head>
    <body>
        <h1>Welcome to Xpress Ships</h1>
        <% if(farms.length >= 1) {%> <%for (farm of farms) {%>
        <div><%= farm.farmName %></div>
        <%}%> <%}%> <% if(products.length >= 1) {%> <%for (product of products)
        {%>
        <div><%= product.productName %></div>
        <%}%> <%}%>
    </body>
</html>
