<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Show</title>
        <%- include("partials/css")%>
    </head>
    <body>
        <section class="container">
            <h1>Show Comment Details</h1>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td><%= userData.id %></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><%= userData.username %></td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td><%= userData.comment %></td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="/comments">Back to index</a>
        </section>
    </body>
</html>
