/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width: 80%;
}

.danger {
    background-color: rgb(184, 5, 5);
    color: white;
}

.success {
    background-color: green;
    color: white;
}

.page-title {
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
}

.product-container {
    padding: 5px;
    margin: 20px auto;
    width: 100%;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    -ms-transition: 0.25s all ease-in-out;
    -o-transition: 0.25s all ease-in-out;
}

.product:hover {
    background-color: rgb(226, 223, 223);
}

.btn {
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 5px 2.5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.danger:hover {
    background-color: rgb(224, 3, 3);
}

.success:hover {
    background-color: rgb(2, 196, 2);
}

.product.btn {
    margin: 0 10px;
}

@media (min-width: 368px) {
    .product {
        width: 300px;
    }
}
