<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/app.css" />
        <title>Groceries</title>
    </head>
    <body>
        <h1 class="page-title">Groceries</h1>
        <div class="product-container">
            <% for (let product of products) {%>
            <div class="product">
                <div><%= product.name %></div>
                <div class="btn-container">
                    <a class="btn success" href="/products/<%=product.id %>"
                        >View</a
                    >
                    <form
                        id="delete-form"
                        action="/?_method=delete&id=<%=product.id%>&type=product"
                        method="post"
                    >
                        <a id="submit-link" class="btn danger">Delete</a>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <div class="create-btn-container">
            <a href="/products/new" class="btn primary">Create Product</a>
        </div>
    </body>
    <script>
        const submitLink = document.querySelectorAll("#submit-link");
        console.log(submitLink);
        for (let link of submitLink) {
            link.addEventListener("click", function (evt) {
                this.parentElement.submit();
            });
        }
    </script>
</html>
