<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Product</title>
    </head>
    <body>
        <h1>Add A Product</h1>
        <form action="/products" method="post">
            <label for="name">Product Name</label>
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Enter product name"
            />
            <label for="price">Price (Unit)</label>
            <input
                type="number"
                name="price"
                id="price"
                placeholder="Enter product price"
            />
            <label for="category">Select category</label>
            <select name="category" id="">
                <option value="dairy">dairy</option>
                <option value="vegetable">vegetable</option>
                <option value="fruit">fruit</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
